extends layout

block content


  h2 Movie Title

  p Lorem ipsum dolor sit amet, mea in delenit alienum conceptam, pri alterum inermis cu. Porro possim admodum ad vis. Mundi iudico vel id, ut sit officiis suavitate. Te vix epicuri oportere, ius an legimus offendit, ex pri eros detraxit maluisset.

  p Te habeo augue sit, fabellas phaedrum ex eos, vis ut explicari consetetur interpretaris. At per sint pericula, pri recusabo sadipscing signiferumque at. Pri dicunt assentior quaerendum ad. Timeam legendos abhorreant sit no, dolores petentium expetenda ex usu, vis te iusto nostrud appellantur. Sint voluptua maluisset usu et. Magna fierent sit no.

  p Lorem ipsum dolor sit amet, mea in delenit alienum conceptam, pri alterum inermis cu. Porro possim admodum ad vis. Mundi iudico vel id, ut sit officiis suavitate. Te vix epicuri oportere, ius an legimus offendit, ex pri eros detraxit maluisset.

  p Te habeo augue sit, fabellas phaedrum ex eos, vis ut explicari consetetur interpretaris. At per sint pericula, pri recusabo sadipscing signiferumque at. Pri dicunt assentior quaerendum ad. Timeam legendos abhorreant sit no, dolores petentium expetenda ex usu, vis te iusto nostrud appellantur. Sint voluptua maluisset usu et. Magna fierent sit no.

  .videoPlace
  .videoBorder
   div(style='padding-left:16px')

  h3 Movie Overview

  p Te habeo augue sit, fabellas phaedrum ex eos, vis ut explicari consetetur interpretaris. At per sint pericula, pri recusabo sadipscing signiferumque at. Pri dicunt assentior quaerendum ad. Timeam legendos abhorreant sit no, dolores petentium expetenda ex usu, vis te iusto nostrud appellantur. Sint voluptua maluisset usu et. Magna fierent sit no.

  p Lorem ipsum dolor sit amet, mea in delenit alienum conceptam, pri alterum inermis a(href='ff') Visit W3Schoolscu. Porro possim admodum ad vis. Mundi iudico vel id, ut sit officiis suavitate. Te vix epicuri oportere, ius an legimus offendit, ex pri eros detraxit maluisset.
  a(href='#news')
  p Te habeo augue sit
  p , fabellas phaedrum ex eos, vis ut explicari consetetur interpretaris. At per sint pericula, pri recusabo sadipscing signiferumque at. Pri dicunt assentior quaerendum ad. Timeam legendos abhorreant sit no, dolores petentium expetenda ex usu, vis te iusto nostrud appellantur. Sint voluptua maluisset usu et. Magna fierent sit no.




    footer
      .row
        .col-12