extends layout
block content
 .container
    .col-lg-10.col-xl-8.offset-lg-1.offset-xl-2
        .intro
            p
            h1.text-center Movie Title
            p Movie extended title
            img.img-fluid(src='/img/movie.jpg' style='width: 710px;')
        .text
            h2 Movie Overview
            p
                | Praeseent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac lacus.
                strong Ut vehicula rhoncus
                |  elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit
                em pulvinar dict
                |  vel in justo. Vestibulum ante ipsum
                |                     primis in faucibus orci luctus et ultrices posuere cubilia Curae.
            p
                | Suspendisse vel placerat ligula. Vivamus ac sem lac. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
                | posuere cubilia Curae.
            figure
        footer.page-footer(style='width: 730px;margin: 0px;padding: 0px;')
            .container
                hr
    .col-lg-10.col-xl-8.offset-lg-1.offset-xl-2
        .intro
            h1.text-center Movie Title
            p Movie extended title
            img.img-fluid(src='/img/movie.jpg' style='width: 710px;')
        .text
            h2 Movie Overview
            p
                | Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac lacus.
                strong Ut vehicula rhoncus
                |  elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit
                em pulvinar dict
                |  vel in justo. Vestibulum ante ipsum
                |                     primis in faucibus orci luctus et ultrices posuere cubilia Curae.
            p
                | Suspendisse vel placerat ligula. Vivamus ac sem lac. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
                | posuere cubilia Curae.
            figure
        footer.page-footer(style='width: 730px;margin: 0px;padding: 0px;')
    .col-lg-10.col-xl-8.offset-lg-1.offset-xl-2
        .intro
            h1.text-center Movie Title
            p Movie extended title
            img.img-fluid(src='/img/movie.jpg' style='width: 710px;')
        .text
            h2 Movie Overview
            p
                | Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac lacus.
                strong Ut vehicula rhoncus
                |  elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit
                em pulvinar dict
                |  vel in justo. Vestibulum ante ipsum
                |                     primis in faucibus orci luctus et ultrices posuere cubilia Curae.
            p
                | Suspendisse vel placerat ligula. Vivamus ac sem lac. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
                | posuere cubilia Curae.
            figure
        footer.page-footer(style='width: 730px;margin: 0px;padding: 0px;')
    .col-lg-10.col-xl-8.offset-lg-1.offset-xl-2
        .intro
            h1.text-center Movie Title
            p Movie extended title
            img.img-fluid(src='/img/movie.jpg' style='width: 710px;')
        .text
            h2 Movie Overview
            p
                | Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac lacus.
                strong Ut vehicula rhoncus
                |  elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit
                em pulvinar dict
                |  vel in justo. Vestibulum ante ipsum
                |                     primis in faucibus orci luctus et ultrices posuere cubilia Curae.
            p
                | Suspendisse vel placerat ligula. Vivamus ac sem lac. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
                | posuere cubilia Curae.
            figure
        footer.page-footer(style='width: 730px;margin: 0px;padding: 0px;')
            .container(style='background-color: #fffff;')
                hr
            .row(style='width: 730px;')
                .col-6.col-md-3(style='width: 157.5px;')
                    h4 Home
                    ul.footer-links
                        li.article-clean
                        li
                            a(href='#') Navbar
                        li
                            a Title
                        li
                            a(href='#') Video
                        li
                            a(href='#') Movie Overview
                        li
                            a(href='#') Footer
                .col-6.col-md-3(style='width: 157.5px;')
                    h4 Information
                    ul.footer-links
                        li
                            a(href='#') Aenean condimentum viverra
                        li
                            a(href='#') Proin porta diam
                .col-6.col-md-3(style='width: 157.5px;')
                    h4 Register
                    ul.footer-links
                        li
                            a(href='#') Proin laoreet volutpat
                        li
                            a(href='#') Aenean tincidunt est
                    h4 Nulla cursus finibus
                    ul.footer-links
                        li
                            a(href='#') Curabitur elementum odio
                        li
                            a(href='#') Proin condimentum ac
                .col-6.col-md-3(style='width: 157.5px;')
                    h4 Login
                    ul.footer-links
                        li
                            a(href='#') Praesent gravida
                        li
                            a(href='#') Praesent egestas
                    h4 Ut eget feugiat ante
                    ul.footer-links
                        li
                            a(href='#') Etiam ornare vestibulum
                        li
                            a(href='#') Donec tincidunt tempus
                .col-6.col-md-3(style='width: 157.5px;')
                    h4 About
                    ul.footer-links
                        li
                            a(href='#') Praesent gravida
                        li
                            a(href='#') Praesent egestas
                    h4 Ut eget feugiat ante
                    ul.footer-links
                        li
                            a(href='#') Etiam ornare vestibulum
                        li
                            a(href='#') Donec tincidunt tempus

